header {
  background-color: white;
  color: black;
  font-family: 'Lalezar', cursive;
  padding: 10px;
  border-bottom: solid 5px white;
  text-align: center;
}

h1 {
  font-size: 70px;
  margin-bottom: 30px;
}

h2 {
  font-size: 25px;
  text-align: center;
  color: white;
  font-family: 'Lalezar', cursive;
  padding: 30px;
}

#summary {
  font-size: 20px;
}

/*Week One Font Styling*/

#weekone {
  background-color: #F0EFEA;
  width: 100%;
  height: auto;
  border-bottom: solid 5px white;
}

.fire {
  display: block;
  padding: 10px;
  font-size: 50px;
  color: #A10115;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.main {
  color: #D72C16;
  font-size: 20px;
  text-align: center;
  font-family: 'Unna', serif;
}

.water {
  font-size: 45px;
  color: #4897D8;
  font-family: 'Lato', sans-serif;
  text-align: right;
  padding-right: 50px;
}

.wk-info{
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 15px;
}

#lato {
  font-family: 'Lato', sans-serif;
}

#unna {
  font-family: 'Unna', serif;
}

/*Week Two Font Styling*/

#weektwo {
  background-color: #2980b9;
  width: 100%;
  height: auto;
  font-size: 35px;
  border-bottom: solid 5px white;
  font-family: 'Vollkorn', serif;
}

.start {
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 5%;
  color: white;
}

.mid{
  margin-left: 25%;
}

.mid img {
  height: 150px;
  width: 150px;
}

.end{
  margin-left: 60%;
  margin-top: 5%;
  font-family: 'Vollkorn', serif;
}

.highlight {
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

#vollkorn {
  font-family: 'Vollkorn', serif;
}

/*Week Three Font Styling*/

#weekthree {
  background-color: #FA6775;
  color: #F52549;
  width: 100%;
  height: auto;
  font-size: 40px;
  border-bottom: solid 5px white;
  text-align: center;
  font-family: 'Arvo', serif;
}
#arvo {
  font-family: 'Arvo', serif;
}

#noto-sans{
  font-family: 'Noto Sans', sans-serif;
}

#moderation {
  color: #FFD64D;
  font-family: 'Noto Sans', sans-serif;
}

#including {
  color: #FFD64D;
  font-family: 'Noto Sans', sans-serif;
}

#weekthree div {
  margin-bottom: 10px;
}

/*Week Four Font Styling*/

#weekfour {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
}

#weekfour div {
  margin-bottom: 15px;
}

#fly {
  font-family: 'Abril Fatface', cursive;
  font-style: italic;
}

#abril {
  font-family: 'Abril Fatface', cursive;
}
