header {
  background-color: white;
  color: black;
  font-family: 'Lalezar', cursive;
  padding: 10px;
  border-bottom: solid 5px white;
  text-align: center;
}

h1 {
  font-size: 70px;
  margin-bottom: 30px;
}

h2 {
  font-size: 25px;
  text-align: center;
  color: white;
  font-family: 'Lalezar', cursive;
  padding: 30px;
}

#summary {
  font-size: 20px;
}

/*Week One Font Styling*/

#weekone {
  background-color: black;
  width: 100%;
  height: auto;
  border-bottom: solid 5px white;
}

.fire {
  display: block;
  padding: 10px;
  font-size: 50px;
  background: linear-gradient(#8b0000, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

#remember {
  color: white;
  font-size: 60px;
  text-align: center;
  font-family: 'Unna', serif;
}

#water {
  font-size: 50px;
  background: -webkit-linear-gradient(#0073e6, #00e6e6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Lato', sans-serif;
  text-align: right;
  padding-right: 50px;
}

.wk-info{
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 15px;
}

#lato {
  font-family: 'Lato', sans-serif;
}

#unna {
  font-family: 'Unna', serif;
}

/*Week Two Font Styling*/

#weektwo {
  background-color: #2980b9;
  width: 100%;
  height: auto;
  font-size: 40px;
  border-bottom: solid 5px white;
}

.start {
  margin-left: 5%;
  margin-top: 5%;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.mid{
  margin-left: 25%;
  font-family: 'Vollkorn', serif;
}

.mid img {
  height: 150px;
  width: 150px;
}

.end{
  margin-left: 60%;
  margin-top: 10%;
  font-family: 'Vollkorn', serif;
}

#open-sans {
  font-family: 'Open Sans', sans-serif;
}

#vollkorn {
  font-family: 'Vollkorn', serif;
}

/*Week Three Font Styling*/

#weekthree {
  background-color: #FA6775;
  color: #F52549;
  width: 100%;
  height: auto;
  font-size: 40px;
  border-bottom: solid 5px white;
  text-align: center;
}

.moderation {
  color: #FFD64D;
}
